/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require 4-col-portfolio
 *= require_tree .
 *= require_self
 */

body {
  background-color: rgba(220,220,220,1)
}

 h1	{
 	text-align: center;
    font-family: 'Syncopate', sans-serif;
    font-size: 40px;
    font-weight: bold;
  }

  .display {
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    margin: auto auto 10px auto;
    background-color: rgba(227,227,227,1);
  }

  h3 {
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    font-size: 20px;
  }

  h5 {
  	text-align: center;
  	font-size: 22px;
  }

.form {
	text-align: center;
	padding: 15px;
	border-radius: 20px;
	margin: 7% 35% auto 35%;
	background-color: rgba(255,255,255,0.7);
}


.form-inputs {
	text-align: left;
}


.row {
  text-align: center;
}

.logo {
  height: ;
}

li {
  margin-top: 4px
}

.show {
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  margin: 7% 35% auto 35%;
  background-color: rgba(255,255,255,1);
}
